.contenedor_skill{

    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contenedor_main_skills{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.contenedor_main_hobbys{
    display: flex;
    justify-content: center;
    flex-direction: row;
    white-space: nowrap;
    gap: 40px;
}

.lista_items_skills{
    display:flex;
    white-space: nowrap;
    align-items: center;
    flex-direction: row;
    gap: 40px;

}

.lista_items_hobbys{
    display:flex;
    white-space: nowrap;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    
    
}

.contenedor_descripcion{
    display:flex;
    justify-content:center;
    flex-direction: row;
}

.links_info{
    display: flex;
    justify-content: left;
    white-space: nowrap;
    gap: 40px;
}

.contenedor_info_sobre{
    
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.contenedor_main_info_sobre{
    display: flex;
    justify-content: center;   
}

.contenedor_indice{
    display: flex;
    justify-content: center;
    white-space: nowrap;
    gap: 40px;
}

.academic__courses__list{
    
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    gap: 10px;
}

.academic__courses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.academic{
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 768px) {
    /* Header */
    section.menu {
      padding: 32px;
    }
    .menu__header {
      gap: 50px;
    }
    .menu__list {
      display: none;
    }
    .email-header {
      display: flex;
    }
    /* Menú */
  
    /*title*/
    section.title {
      padding: 0 32px;
      margin-top: 0;
    }
    .menu {
      padding: 32px;
    }
    .title__bio {
      font-size: 1.375rem;
    }
    .title__profile {
      width: 146px;
      margin: 32px;
    }
    /* About */
    section.about {
      padding: 32px;
      margin: 32px 0;
    }
    .about__title {
      font-size: 1.375rem;
    }
    /*Skills*/
    .skills__title {
      font-size: 1.375rem;
    }
  
    .skills__line {
      padding: 32px;
    }
  
    /*Hobbies*/
    .hobbies__title {
      font-size: 1.375rem;
    }
  
    .hobbies__line {
      padding: 32px;
    }
  
    /*Formación Académica*/
    .academic__title {
      font-size: 1.375rem;
    }
    .academic__courses {
      padding: 32px;
    }
    .academic__courses__box {
      flex-direction: column;
      width: 224px;
      height: 250px;
    }
    .academic__courses__item__img {
      width: 224px;
      height: 118px;
    }
    .academic__courses__item__img img {
      width: 100px;
    }
  
    /*Experiencia Profesional*/
    .experience__section__title {
      font-size: 1.375rem;
    }
    section.experience {
      padding: 32px;
    }
    .experience__box {
      flex-direction: column;
      align-items: center;
    }
    .experience__img {
      max-width: 500px;
      margin: 0;
    }
    .experience__box:nth-child(1),
    .experience__box:nth-child(3),
    .experience__box:nth-child(5),
    .experience__box:nth-child(7),
    .experience__box:nth-child(9) {
      flex-direction: column;
    }
    /* Contacto */
    .formcontato {
      padding: 32px;
    }
  
    .formcontato__contacto {
      flex-direction: column;
    }
    .formcontato__img {
      display: none;
    }
  }
  